.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(5px + 2vmin);
}

.App-label {
  text-align: center;
}

.App-form {
  width: 50%;
  min-width: 326px;
}

.App-link {
  color: royalblue;
}

.App-list {
  overflow-y: auto;
  height: 400px;
  max-height: calc(100vh - 200px);
}

.App-loader {
  left: calc(50% - 12px);
  margin: 15px 0;
}
